@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: #FCA4A6 !important;
}

#header-main {
  padding: 20px 0;
}
.navbar {
    position: relative;
}
.navbar-brand img{
    position: relative;
  
    border-radius: 100%;
  width: 100px;
  height: 100px;
}
.navbar-nav li {
  padding: 5px 20px;
  margin: 5px 10px;
  background: #ffe9e9;
  border-radius: 10px;
}
/* (A) ENTIRE PAGE */
#cart-wrap * {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
#cart-wrap {
  max-width: 800px;
  margin: 0 auto;
}
input.cart, button.cart {
  border: 0;
  padding: 10px;
  color: #fff;
  background: #C1576A;
  cursor: pointer;
}
.navbar-toggler {
    background-color: #C1576A;
}
/* (B) PRODUCTS */
.img-dwrap {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.img-dwrap img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.des-produk {
  padding: 20px 30px;
  margin: 20px 10px;
  background: #C1576A;
  border-radius: 10px;
}
.w-btn {
  display: flex;
}
.p-detail {
  width: 50%;
  border: 0;
  padding: 10px;
  color: #fff;
  background: #C1576A;
  cursor: pointer;
  margin: 10px 3px;
}
 
.list-order li {
  padding: 3px 0;
  font-size: 18px; 
}
#cart-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; padding: 10px;
}
#cart-products li {
    list-style: none;
}
.p-item { position: relative; height: 100%; 

overflow: hidden;
  border-radius: 10px;
  border: 10px solid #713939;

}

#navbarOffcanvas {
  background-color: #713939 !important;
}
.p-img { width: 100%; object-fit: cover; height: 100%; }
.p-info {
  display: block; align-items: center;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.p-txt { flex-grow: 1; }
.p-name {
  color: #fff;
  font-size: 1.1em; font-weight: 700;
}
.p-price { color: #fff; }
.p-add { font-size: 1em; width: 100%;  margin: 10px 0; padding: 5px;}


/* media query */
@media (max-width: 999px) {

#cart-products { 
  grid-template-columns: repeat(1, 1fr); 
}

}

.hidden {
  display: none;
}
/* (C) CART */
#cart-items {  
 background: #C1576A;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 10px;}
.c-item {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #fca4a6;
}
.c-item:nth-child(even) { background: #fca4a6; }
.c-qty {
  width: 60px;
  padding: 10px;
}
.c-name {
  padding: 0 10px;
  flex-grow: 1;
}
.c-del { font-size: 1.2em; }
.c-total {
  padding: 10px;
  font-size: 1em; font-weight: 700;
  background: #7d4155;
}
.c-go { margin-top: 10px; }